.App {
  text-align: center;
  background-color: #F5F5F5;
}
.name {
  font-size: 50px;
  font-weight: bold;
}
body{
  font-family: 'Poppins';
}
.App-header {
  background-color: #0F1626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #F5F5F5;

}

.App-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App-header ul li {
  display: inline;
  margin: 0 15px;
}

.social-links a {
  color: #F5F5F5;
  text-decoration: none;
  font-size: 50px;
  margin-left: 25px;
}

.social-links a:hover {
  color: #FF533D;
}


footer {
  /* margin-top: 2px; */
  padding: 20px;
  text-align: center;
  background-color: #0F1626;
  color: #F5F5F5;
  font-size: 20px;
}

footer a {
  color: #F5F5F5;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  color: #FF533D;
}

