/* Projects.css */
.projects-container {
  background-image: url("images/code-background-blurred.jpg");
  background-repeat:no-repeat ;
  background-size: cover;
  padding: 20px;
  max-width:100%;
  margin: 0 auto;
}


.projects-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #f9f9f9;
}

.projects-container ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.projects-container li {
  background: transparent;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform .3s;
}

.projects-container li:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #f9f9f9;
  border: 2px solid;
}
.project-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.projects-container a {
  font-size: 1.5em;
  color: #f9f9f9;
  text-decoration: none;
  margin-bottom: 10px;
}

.projects-container a:hover {
  color: #f9f9f9;
}

.projects-container li p {
  margin: 5px 0;
  font-size: 0.9em;
}

.projects-container li p.language,
.projects-container li p.stars {
  font-size: 15px;
  color: #f9f9f9;
}

.projects-container li p.description{
  font-size: 15px;
}


.projects-container li .details {
  flex-grow: 1;
}

.projects-container li .footer {
  margin-top: 10px;
}
